[project]
	description = PowerDNS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nick Saika (nesv)
[access "refs/for/refs/*"]
	read = group user/Nick Saika (nesv)
	push = group user/Nick Saika (nesv)
	label-Code-Review = -2..+2 group user/Nick Saika (nesv)
	label-Verified = -1..+1 group user/Nick Saika (nesv)
	rebase = group user/Nick Saika (nesv)
	removeReviewer = group user/Nick Saika (nesv)
	submit = group user/Nick Saika (nesv)
[access "refs/heads/*"]
	read = group user/Nick Saika (nesv)
	create = group user/Nick Saika (nesv)
	push = +force group user/Nick Saika (nesv)
	pushMerge = group user/Nick Saika (nesv)
[access "refs/tags/*"]
	push = group user/Nick Saika (nesv)
	push = +force group user/Nick Saika (nesv)
